@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Image Display</h2>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-2">
            @Html.Label("Select Image:")
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col">
                    @Html.RadioButton("RadioChoice", "blueHills", true)
                    @Html.Label("blueHills", null, htmlAttributes: new { @class = "ml-1" })
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.RadioButton("RadioChoice", "sunset")
                    @Html.Label("sunset", null, htmlAttributes: new { @class = "ml-1" })
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.RadioButton("RadioChoice", "waterLilis")
                    @Html.Label("waterLilis", null, htmlAttributes: new { @class = "ml-1" })
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.RadioButton("RadioChoice", "winter")
                    @Html.Label("winter", null, htmlAttributes: new { @class = "ml-1" })
                </div>
            </div>
        </div>
        <div class="col-6">
            <div style="height:200px;width:200px;">
                @if (ViewBag.result != null)
                {
                    <img src="@Url.Content(@ViewBag.result)" style="height:100%;width:100%;object-fit:contain;" />
                }
                else
                {
                    <img src="~/Images/bluehills.jpg" style="height:100%;width:100%;object-fit:contain;" />
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
}

